:root{
    --dark-grey: #2c3e50;
    --green: #1abc9c;
    --grey: #425971;
    --white: white;
}
body{
    font-family:'Montserrat', sans-serif;
    color: var(--white);
}
.header{
    background-color: var(--dark-grey);
    line-height: 4em;
}
.logo{
    font-weight: 600;
    font-size: 1.5em;
}
.menu a{
    color: var(--white);
    font-weight: 600;
    font-size: 0.8em;
}
.menu a:hover{
    color: var(--green);
}
.square{
    border: 1px solid var(--white);
    border-radius: 5px;

}
.jumbotron{
    background-color: var(--green);
}
.avatar{
    display: inline-block;
    width: 300px;
}
h2{
    font-size: 2.5em;
    font-weight: 800;
}
h3{
    font-size: 1.3em;
}
.fa-star{
    font-size: 2em;
}
.star{
    display: flex;
}
.line{
    display: inline-block;
    height: 5px;
    width: 150px;
    background-color: var(--white);
}
.portfolio .img{
    background-color: var(--green);
    width: 100%;
    border-radius: 30px;
    opacity: 1;
    transition:opacity 5s;
    position: relative;
    z-index: 2;
}
.portfolio img:hover{   
    transition:opacity 0.5s;
    opacity:0;
    cursor: pointer;
}
.img img{
    width: 100%;
}
.fa-plus{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.about{
    background-color: var(--green);
}
.download{
    border: 2px solid var(--white);
    border-radius: 5px;
    background-color: transparent;
    color: var(--white);
}
.download:hover{
    background-color: var(--white);
    color: black;
}
.fa-download{
    color: var(--white);
}
.download:hover .fa-download{
    color: black;
}
.black {
    color: black;
}
.white{
    color: var(--white);
}
.bg-black{
    background-color: black;
}
label{
    font-weight: 500;
}
.form-control{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}
.form-control:focus{
    box-shadow: 2px  rgba(22, 193, 255, 0.807);
    border-bottom: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form-control:focus .form-label{
    font-size: 0.8em;
}
.green-button{
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.green-button:hover{
    background-color: var(--dark-grey);
    color: white;
}

.footer-top{
    background-color: var(--grey);
}
.footer-bottom{
    background-color: var(--dark-grey);
}
.round{
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50px;
    width: 40px;
    height:40px;
    display: inline-block;
    position: relative;
}
.round i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.round:hover{
    background-color: var(--white);
    cursor: pointer;
}
.round:hover i{
    color: black;
}