:root{
    --bg1: #2c3e50;
    --bg2: #1abc9c;
    --bg3: aqua;
    --bg4: white;
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--bg1);
}
.header,
.header .row{
    height: 100%;
    align-content: center;
}
.bg_menu_left{
    background-color: var(--bg3);
}
.bg_menu_right{
    background-color: var(--bg2);
}
.text_center{
    text-align: center;
}

.ham{
    display: none;
}

.my_height{
    height: 50px;
    color: white;
}
.my_height_jumbo{
    height: 400px;
    background-color:var(--bg2);
}
.bg_jumbo{
    background-color: var(--bg3);
    height: 300px;
}
.my_portfolio{
    margin: 50px 0;
}
.row_margin{
   margin-top: 20px;
}
.bg_portfolio{
    height: 150px;
    background-color:var(--bg1);
}
.my_height_about{
    height: 150px;
    background-color: var(--bg2);
}
.bg_about{
    background-color: var(--bg3);
    height: 70px;
}
.col-12{
    height: 150px;
    background-color: var(--bg1);
}
.message_height{
    height: 80px;
}
button{
    background-color: var(--bg3);
    border: none;
    margin-top: 1em;
}
.footer_row{
    height: 150px;
    background-color: var(--bg1);
}
.footer_col{
    background-color: var(--bg3);
    height: 100px;
}
.footer_copyright{
    height: 90px;
    
}
.footer_copy{
    height: 90px;
    background-color: lightgray;
}